*{margin:0px; padding:0px; border:0px;}

.fl{float:left;}
.cb{clear:both;}

body{}
#wrap{height:1200px; width:960px; margin:0px auto;}

header{height:150px; width:960px;background-color:red;}
#banner{height:400px; width:960px;background-color:blue;}
#content_01{height:250px; width:480px;background-color:yellow;}
#content_02{height:250px; width:480px;background-color:green;}
#content_03{height:100px; width:960px;background-color:#666666;}
#icon_01{height:150px; width:320px; background-color:pink;}
#icon_02{height:150px; width:320px; background-color:orange;}
#icon_03{height:150px; width:320px; background-color:pink;}
footer{height:150px; width:960px; background-color:#999999;}
